<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>俄罗斯方块</title>
    <link rel="stylesheet" href="../css/main.css">
    <script src="../server/socket.io.js"></script>
    <script src="../js/util.js"></script>
</head>

<body>

    <div class="user-two">
        <h2>对方的游戏区</h2>
        <div class="game-two"></div>
        <div class="next-two"></div>
        <div class="info-two">
            <div>已用时:<span class="user-two-game-time">0</span>s</div>
            <div>已得分:<span class="user-two-scores">0</span>分</div>
        </div>
    </div>
    <div class="user-one">
        <h2>我的游戏区(请点击页面开始游戏)</h2>
        <div class="game"></div>
        <div class="next"></div>
        <div class="info">
            <div>已用时:<span class="game-time">0</span>s</div>
            <div>已得分:<span class="scores">0</span>分</div>
        </div>
    </div>
</body>
<script src="../js/dataInit.js"></script>
<script src="../js/drawing.js"></script>
<script src="../js/blockChange.js"></script>
<script src="../js/userOperation.js"></script>
<script src="../js/scoring.js"></script>
<script src="../js/online.js"></script>
<script src="../js/main.js"></script>

</html>