body {
    overflow: hidden;
}

.user-two,
.user-one {
    position: absolute;
    top: 0;
    width: 310px;
    height: 500px;
}

.user-two h2,
.user-one h2 {
    text-align: center;
    font-size: 14px;
    margin: 5px 0 0 0;
}

.user-two {
    left: 0;
}

.user-one {
    left: 400px;
}

.game,
.game-two {
    width: 200px;
    height: 400px;
    background: #f2faff;
    border: 1px solid blue;
    border-top: none;
    position: absolute;
    top: 30px;
    left: 10px;
}

.game>div,
.game-two>div {
    width: 100%;
    height: 100%;
    position: relative;
}

.next,
.next-two {
    width: 80px;
    height: 80px;
    background: #f2faff;
    position: absolute;
    top: 30px;
    left: 220px;
    border: 1px solid blue;
}

.info,
.info-two {
    position: absolute;
    left: 220px;
    top: 120px;
    width: 200px;
}

.none,
.current,
.done,
.none-two,
.current-two,
.done-two {
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
}

.none,
.none-two {
    background: #f2faff;
}

.current,
.current-two {
    background: pink;
    border: 1px solid red;
}

.done,
.done-two {
    background: gray;
    border: 1px solid black;
}